@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}

.wrap {
  border: 1px solid gray;
  border-radius: 5px;
  width: 80%;
  margin: 40px auto;
}

.resume h1 {
  text-align: center;
  padding: 10px 0px;
  border-bottom: 1px solid gray;
}

.foto-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name {
  font-size: 2.5rem;
  margin: 10px;
  padding: 10px;
}

.foto {
  width: 190px;
  height: auto;
  margin: 20px;
}

.tech-skills {
  display: grid;
  height: 19vh;
  grid-template-areas:
    'skill1 skill2 skill3 skill4 skill5 skill6 skill7'
    'skill8 skill8 skill9 skill10 skill10 skill11 skill11';
  grid-template-columns: repeat(autofill, 1fr);
  grid-template-rows: auto auto;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px;
}

.skill {
  background-color: whitesmoke;
  border: 1px solid gray;
  margin: 10px;
  text-align: center;
  align-content: center;
}

.skill-1 {
  grid-area: skill1;
}

.skill-2 {
  grid-area: skill2;
}

.skill-3 {
  grid-area: skill3;
}

.skill-4 {
  grid-area: skill4;
}

.skill-5 {
  grid-area: skill5;
}

.skill-6 {
  grid-area: skill6;
}

.skill-7 {
  grid-area: skill7;
}

.skill-8 {
  grid-area: skill8;
}

.skill-9 {
  grid-area: skill9;
}

.skill-10 {
  grid-area: skill10;
}

.skill-11 {
  grid-area: skill11;
}

.contact {
  float: left;
  width: 30%;
  padding: 10px;
}

.contact h2 {
  text-align: center;
  margin: 25px 5px;
}

ul {
  list-style: none;
  margin: 10px;
  padding: 5px;
}

li {
  margin: 10px;
  padding: 5px;
}

.contact ul {
  list-style: none;
  margin: 20px 10px;
  padding: 5px;
}

.contact li {
  margin: 30px 10px;
  padding: 5px;
}

a {
  color: blue;
}

a:hover {
  color: orangered;
  transition: 0.4s;
}

.content {
  border-left: 1px solid gray;
  float: right;
  width: 70%;
  padding: 25px;
}

.content h2 {
  margin: 5px;
  padding: 5px;
}

.content p {
  margin: 5px;
  padding: 10px;
}

.content ul {
  margin: 5px;
  padding: 5px;
}

.content ul li {
  margin: 5px;
  padding: 5px;
}

.language-skills {
  clear: both;
  border-top: 1px solid gray;
}

.language-skills h2 {
  margin: 10px;
  padding: 10px;
}

.languages {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  margin-right: 20px;
}

.language {
  margin-right: 40px;
}

.language p {
  margin: 5px 0;
  text-align: center;
}
